*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --primary: #6F7F75;      /* Verde principal */
  --secondary: #9FB6A8;    /* Verde claro */
  --accent: #E8B7A7;       /* Nude / rosé */
  --bg: #FFFFFF;          /* Branco */
  --text: #2E2E2E;        /* Texto */
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    display: grid;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    grid-template-areas: 
    "header header header header header"
    "section1 section1 section1 section1 section1"
    "section2 section2 section2 section2 section2"
    "section3 section3 section3 section3 section3"
    "footer footer footer footer footer"
    ;
}
.item{
    
    border: 1px solid;
}
.header{
    grid-area: header;
    
}
.section1{
    grid-area: section1;
}
.section2{
    grid-area: section2;
}
.section3{
    grid-area: section3;
}
.footer{
    grid-area: footer;
}

.logo{
    width: 120px;
    height: 120px;
    margin: 0 50px;
}
.logo img{
    width: 120px;
    height: 120px;
    border-radius: 40px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: end;
    margin:0;
}
.menu nav a,
.menu nav button {
    text-decoration: none;
    font-family: "Montserrat";
    color: #3d4942;
    font-size: large;
}
.menu nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.menu nav button a{
    margin: 0;
}
.menu nav button{
    background-color: var(--accent);
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.5s ease;
    display: block;
}
.menu nav button:hover{
    background-color: var(--primary);
}
.menu nav a:hover{
    text-decoration: underline;
}
.menu nav button a:hover{
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #F5F5F5;

}
@media (max-width:1000px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu{
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
  }

  .menu nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
    
  }
   .menu nav button{       
    margin-top: 10px;
    width: 250px;
  }
  .logo{

    margin: 0;
    padding: 0;
  }
    .menu nav {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.menu nav button{
    display: none;
}
}
.section1{
    background-image: url(sorrisogrande.jpg);
    height: 545px;
    background-size: cover;
    font-family: "Montserrat";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    width: 100%;
}
.section1 h1{
    width: 900px;
    font-size: 70px;
}
.section1 p{
    color: #4e5852;
    font-weight: 500;
}
.section1 a{
    background-color: var(--accent);
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin-top: 10px;
}
.section1 a:hover{
    background-color: #6F7F75;
}

@media (max-width: 1000px){
    .section1{
        background-image: url(sorriso1.jpg);
        height: 400px;
        background-size: cover;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .section1 h1{
        font-size: 30px;
        width: 350px;

    }
    .section1 a{
        width: 150px;
    }
}
.section2{
    height: 1000px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.titulo2{
    font-family: "Montserrat";
    padding: 60px;
    font-size: 50px;
    color: #3d4942;
}
.servicos{
    margin-left: 50px;
    border-radius: 20px;
    font-family: "Montserrat";
    color: #FFFFFF;
    display: grid;
    background-color: #A0B6A9;
    width: 978px;
    position: relative;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    grid-template-areas: 
    "servico1 servico1 servico2 servico2"
    "servico3 servico3 servico4 servico4"
    "servico5 servico5 servico6 servico6"
}
.servicos h1{
    color: #FFFFFF;
}
.servico1{
    grid-area: servico1;  
}
.servico2{
    grid-area: servico2;  
}
.servico3{
    grid-area: servico3;  
}
.servico4{
    grid-area: servico4;  
}
.servico5{
    grid-area: servico5;
}
.servico6{
    grid-area: servico6;
}
.serv{
    padding: 40px;
    max-width: 100%;
}
.sombra{
    position: absolute; 
    height: 50%; 
    width: 100%;
    overflow: hidden;
    z-index: 1;
    top: 155px;
    left: 490px;
    
}
.sombra img{
    position: absolute;
    transform: translate(-50%, -50%) scale(0.9);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.5s ease;
}

@media (max-width:1000px){
    .section2{
        height: 2000px;
    }
    .sombra img{
        position: absolute;
        transform: translate(-50%, -50%) scale(0.4);
        top: 50%;
        left: 50%;
        min-width: 100%;
        transition: transform 0.5s ease;
    }
    .sombra{
        position: absolute; 
        height: 100%; 
        width: 100%;
        overflow: hidden;
        z-index: 1;
        top: -300px;
        left: 0;
    }
    .titulo2{
        padding: 20px 15px;
        line-height: 40px;
    }
    .servicos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .serv{
        padding-right: 80px;
    }
}
.section3{
    font-family: "Montserrat";
}
.equipe{
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
    "func1 func2 func3"
    ;
}
.equipe1{
    border-radius: 20px;
    background-color: #eeeeee;
    padding-bottom: 20px;
    width: 400px;
}
.imgequipe{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.imgequipe img{
    width: 350px;
    border-radius: 20px;
}
#h1eqp{
    text-align: center;
    font-family: "Montserrat";
    font-size: 50px;
    color: #3d4942;
    padding: 20px;
}
.conteudo-equipe{
    padding-top: 10px;
    padding-left: 10px;
}
.conteudo-equipe p{
    padding-top: 10px;
}
.conteudo-equipe h2, p{
    color: #4e5852;
}

.conteudo-equipe h1{
    color: #3d4942;
}
.btt-sobre{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.btt-sobre a{
    font-family: "Montserrat";
    background-color: var(--accent);
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin-top: 10px;
}
.btt-sobre a:hover{
    transform: scale(1.02);
    background-color: #3d4942;
}
@media (max-width:1000px){
    .equipe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .equipe1{
        text-align: start;
        padding: 0 30px;
        margin-bottom: 50px;
        width: 325px;
    }
    .func3{
        margin-bottom: 0;
    }
    .imgequipe img{
        width: 280px;
    }
    .func2{
        text-align: end;
    }
    .conteudo-equipe{
        padding-bottom: 10px;
    }
    .btt-sobre{
        padding: 20px;
    }
    .btt-sobre a{
        margin: 0;
    }
}